/Qin/Assets/AssetBundles
AssetBundles
/Qin/Assets/StreamingAssets
/Qin/Assets/StreamingAssets.meta
/Qin/Assets/PersonalDocuments.meta
/Qin/com.unity.postprocessing.Editor.csproj
/Qin/com.unity.postprocessing.Runtime.csproj
/Qin/Qin.sln
/Qin/Unity.AssetbundleBrowser.Editor.csproj
/Qin/Assets/Libs/codeandweb.com/Editor/SettingsTexturePackerImporter.txt
/Qin/Log
/Qin/Log/*.*
/Qin/GSE.csproj
/Qin/initConfig.json
/Qin/Qin.csproj
/Qin/Qin.Editor.csproj
/Qin/Unity.PackageManagerUI.Editor.csproj
/Qin/Unity.Postprocessing.Editor.csproj
/Qin/Unity.Postprocessing.Runtime.csproj
/Qin/UnityEditor.StandardEvents.csproj
/Art/*.*
/Art
*.csproj
/Qin/Library/
/Qin/Temp/
/Qin/obj/
/Qin/Packages/
*.vs
/Qin/Assets/Caches/
/Qin/Assets/Caches.meta
/Qin/Assets/ZTest/
/Qin/Assets/ZTest.meta
qin-data
gen.py
qin-data/config/gen.py